<h1>Editing play earn</h1>

<%= render "form", play_earn: @play_earn %>

<br>

<div>
  <%= link_to "Show this play earn", @play_earn %> |
  <%= link_to "Back to play earns", play_earns_path %>
</div>
