<p style="color: green"><%= notice %></p>

<h1 style="text-align: center; border: 1px solid grey">Play earns</h1>

<%= link_to "New play earn", new_play_earn_path,class:"btn btn-outline-danger btn-block form-control" %>
<table class="table table-dark table-striped table-hover mb-10">  
<thead>
  <tr>                        
    <th>Title</th>
    <th>Image</th>
    <th>Link</th>
    <th>Show</th>
  </tr>
</thead>


<div id="play_earns">
  <% @play_earns.each do |play_earn| %>
  <tr class="table-info">
    <%= render play_earn %>
    <p>
      <td><%= link_to "Show this play earn", play_earn, class:"btn btn-outline-success" %></td>
    </p>
    </tr>
  <% end %>
</div>

