<p style="color: green"><%= notice %></p>

<%= render @play_earn %>

<div>
  <%= link_to "Edit this play earn", edit_play_earn_path(@play_earn) %> |
  <%= link_to "Back to play earns", play_earns_path %>

  <%#= button_to "Destroy this play earn", @play_earn, method: :delete %>
</div>
