<h1>Editing task offer</h1>

<%= render "form", task_offer: @task_offer %>

<br>

<div>
  <%= link_to "Show this task offer", @task_offer %> |
  <%= link_to "Back to task offers", task_offers_path %>
</div>
