<div id="<%= dom_id account %>">
  <p>
    <strong>User:</strong>
    <%= account.user_id %>
  </p>

  <p>
    <strong>Coin:</strong>
    <%= account.coin %>
  </p>

  <p>
    <strong>Refer code:</strong>
    <%= account.refer_code %>
  </p>

</div>
